<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <!-- Node.js server.js faylını işlətmək üçün iisnode -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>

    <rewrite>
      <rules>
        <!-- Static content varsa (favicon, şəkillər, js) -->
        <rule name="StaticContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- Bütün digər route-lar SSR server.js-ə yönlənsin -->
        <rule name="NextJsRoutes" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Əlavə təhlükəsizlik -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Xətaları Next.js SSR-ə ötürmək üçün -->
    <httpErrors existingResponse="PassThrough" />
    <iisnode node_env="production" />
  </system.webServer>
</configuration>
